<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PassGen - Secure Password Generator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <style>
        .hero {
            background: url('/static/images/logo.png') center center/cover no-repeat;
        }
        .features {
            padding: 3em 0;
        }
        .features .feature-item {
            text-align: center;
            padding: 1em;
        }
	.about-section {
		padding: 2em 0;
	}
	.about-section .content {
		text-align: center;
	}
    </style>
</head>
<body>
    <!-- Header -->
    <nav class="navbar is-transparent">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <strong>PassGen</strong>
                </a>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                    <a href="{{ url_for('main.index') }}" class="navbar-item">Home</a>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('main.profile') }}" class="navbar-item">Profile</a>
                    {% else %}
                        <a href="{{ url_for('auth.login') }}" class="navbar-item">Login</a>
                        <a href="{{ url_for('auth.signup') }}" class="navbar-item">Sign Up</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <!-- Hero Section -->
    <section class="hero is-primary is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    PassGen
                </h1>
                <h2 class="subtitle">
                    Your secure password generator and manager.
                </h2>
                <a href="{{ url_for('auth.signup') }}" class="button is-large is-info">Try It Now</a>
            </div>
        </div>
    </section>

    <!-- Features Section -->
    <section class="section features">
        <div class="container">
            <h2 class="title has-text-centered">Features</h2>
            <div class="columns">
                <div class="column feature-item">
                    <h3 class="title is-4">Secure Generation</h3>
		    <img src="/static/images/secure-generation.png" alt="Secure Generation">
                    <p>Generate secure passwords with a single click.</p>
                </div>
                <div class="column feature-item">
                    <h3 class="title is-4">Easy Management</h3>
		    <img src="/static/images/easy-management.png" alt="Easy Management">
                    <p>Store and manage all your passwords in one place.</p>
                </div>
                <div class="column feature-item">
                    <h3 class="title is-4">User-Friendly</h3>
		    <img src="/static/images/user-friendly.png" alt="User-Friendly">
                    <p>Simple and intuitive interface for everyone.</p>
                </div>
            </div>
        </div>
    </section>
	
	
    <!-- About Section -->
    <section class="section about-section">
        <div class="container">
            <h2 class="title has-text-centered">About</h2>
            <div class="content">
                <p>This project was inspired by my day-to-day job. I use many tools and services at work and often need to generate strong passwords when signing up, be able to remember them when logging in, and access them when I'm working away from my usual desktop. This necessity drove me to create PassGen, a secure and easy-to-use password generator and manager.</p>
                <p>My goal was to create a tool that helps users generate strong passwords and store them safely. This project was developed as a portfolio project for ALX SE foundations.</p>
                <p>Team Members:</p>
                <ul>
                    <li>Patrick - <a href="https://www.linkedin.com/in/mutabazipatrick">LinkedIn</a> | <a href="https://github.com/MutabPato">GitHub</a> | <a href="https://twitter.com/mutab_pato">Twitter</a></li>
                    <!-- Add more team members if applicable -->
                </ul>
                <p>Project Repository: <a href="https://github.com/MutabPato/PassGen">GitHub</a></p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>PassGen</strong> by <a href="https://github.com/MutabPato">MutabPato</a>
            </p>
        </div>
    </footer>
</body>
</html>

